<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>Publicipprovider</servlet-name>
		<servlet-class>com.dgbsoft.pip.provider.PublicipproviderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Publicipprovider</servlet-name>
		<url-pattern>/publicipprovider</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileServerWrapper</servlet-name>
		<servlet-class>com.dgbsoft.pip.fswrapper.FileServerWrapperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServerWrapper</servlet-name>
		<url-pattern>/fileserverWrapper</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.dgbsoft.pip.login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Initial</servlet-name>
		<servlet-class>com.dgbsoft.pip.login.InitialServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Initial</servlet-name>
		<url-pattern>/initial</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
